<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ECommerceHelper.Common" version="0.2.0.0" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="xunit" version="1.9.0.1566" />
</packages>